# Ignore configuration file
config.py
arzmod_release.py
key/keystore.jks
.vscode/

# Ignore builds
arzmob-classes/*.jar
app-debug/
native/obj
*.apk

# Ignore native source code (don't use my patterns)
native/jni/monetloader.cpp
native/jni/monetloader.h
native/jni/Android.mk

# Ignore trash
__pycache__/
classes_arzmod/out/
